body {
    background-color: deeppink;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 100px;
}

hearder{
    border-bottom: solid 2px pink;
   padding: 20px;
   font-size: 30px;
   color:white; 
}

section {
background-color: crimson;
padding-bottom: 80px;
padding-top: 80px;
display:flex;
justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
}

h1{
font-size: 40px;
}

p{
    font-size: 20px;
}